<app-header [showRoles]="false"></app-header>

<div class="container-fluid">
  <div class="row m-t-20">
    <div
      style="text-align: center; margin-top: 20px"
      *ngFor="let service of servicesList"
      (click)="selectService(service)"
      tabindex="{0}"
      (keydown)="handleKeyselectService($event, service)"
    >
      <!-- <ul
      class="list-unstyled list-inline text-center"
      *ngFor="let service of servicesList"
      (click)="selectService(service)"
      tabindex="0"
      (keydown)="handleKeyselectService($event, service)"
    > -->
      <!-- <li class="width310px"> -->
      <div class="circle" matTooltip="{{ service.serviceName }}">
        <mat-icon id="store">store</mat-icon>
      </div>
      <!-- </li> -->
      <!-- </ul> -->
    </div>
  </div>
</div>

<app-footer></app-footer>
