<div class="title">
  <h4>{{ title }}</h4>
  <button
    mat-icon-button
    matTooltip="{{ currentLanguageSet?.inventory?.close }}"
    [matDialogClose]="false"
    style="text-align: end; margin-top: -5px"
    class="pull-right exit width-20px"
  >
    <mat-icon>close</mat-icon>
  </button>
</div>
<div class="scrolling-content">
  <div class="container-fluid">
    <form [formGroup]="batchForm">
      <div class="row m-t-10">
        <div class="col-xs-6 col-sm-3">
          <div class="row m-t-10">
            <mat-select
              class="input-full-width"
              name="itemName"
              id="itemName"
              formControlName="itemName"
              placeholder="{{ currentLanguageSet?.inventory?.item }}"
            >
              <mat-option *ngFor="let item of filterItemList" [value]="item">
                {{ item.itemName }}
              </mat-option>
            </mat-select>
          </div>
        </div>
      </div>
      <mat-dialog-content>
        <div class="row m-t-10">
          <div class="col-xs-12 col-sm-12">
            <div class="table-responsive mat_form_field_background_color_table">
              <ng-container formArrayName="batchList">
                <table
                  mat-table
                  class="mat-elevation-z8"
                  aria-describedby="patientReturnBatchDetails"
                  [dataSource]="dataSource"
                >
                  <ng-container matColumnDef="sNo">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ currentLanguageSet?.inventory?.sNo }}
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let batch; let i = index"
                      [formGroup]="batch"
                    >
                      {{ i + 1 }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="batchNo">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ currentLanguageSet?.itemDispense?.batchNo }}
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let batch; let i = index"
                      [formGroup]="batch"
                    >
                      <mat-form-field>
                        <mat-label>{{
                          currentLanguageSet?.itemDispense?.batchNo
                        }}</mat-label>
                        <mat-select
                          class="input-full-width"
                          formControlName="batchNo"
                          name="batchNo"
                          (selectionChange)="
                            getQuantityAndFilterItem($event, i, batch)
                          "
                          required
                        >
                          <mat-option
                            *ngFor="let batchItem of filteredBatchList[i]"
                            [value]="batchItem"
                            >{{ batchItem.batchNo }}</mat-option
                          >
                        </mat-select>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="issuedQuantity">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ currentLanguageSet?.inventory?.issueQuantity }}
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let batch; let i = index"
                      [formGroup]="batch"
                    >
                      <mat-form-field class="input-full-width">
                        <mat-label>{{
                          currentLanguageSet?.inventory?.issueQuantity
                        }}</mat-label>
                        <input
                          matInput
                          formControlName="issuedQuantity"
                          [readonly]="true"
                        />
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="dateOfIssue">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ currentLanguageSet?.inventory?.dateOfIssue }}
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let batch; let i = index"
                      [formGroup]="batch"
                    >
                      <mat-form-field class="input-full-width">
                        <mat-label>{{
                          currentLanguageSet?.inventory?.dateOfIssue
                        }}</mat-label>
                        <input
                          matInput
                          [matDatepicker]="picker"
                          formControlName="dateOfIssue"
                          [readonly]="true"
                        />
                        <mat-datepicker-toggle
                          [disabled]="true"
                          matPrefix
                          [for]="picker"
                        ></mat-datepicker-toggle>
                        <mat-datepicker #picker></mat-datepicker>
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="returnQuantity">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ currentLanguageSet?.inventory?.returnQuantity }}
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let batch; let i = index"
                      [formGroup]="batch"
                    >
                      <mat-form-field class="input-full-width">
                        <mat-label>{{
                          currentLanguageSet?.inventory?.returnQuantity
                        }}</mat-label>
                        <input
                          matInput
                          [readonly]="!batch.value.batchNo"
                          formControlName="returnQuantity"
                          (blur)="checkQuantity(batch)"
                          required
                        />
                      </mat-form-field>
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="action">
                    <th mat-header-cell *matHeaderCellDef>
                      {{ currentLanguageSet?.bendetails?.action }}
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let batch; let i = index"
                      [formGroup]="batch"
                      class="text-right"
                    >
                      <button
                        mat-icon-button
                        matTooltip="{{ currentLanguageSet?.inventory?.delete }}"
                        (click)="removeBatch(i, batch)"
                      >
                        <mat-icon>delete</mat-icon>
                      </button>
                    </td>
                  </ng-container>

                  <tr
                    mat-header-row
                    *matHeaderRowDef="[
                      'sNo',
                      'batchNo',
                      'issuedQuantity',
                      'dateOfIssue',
                      'returnQuantity',
                      'action'
                    ]"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: [
                        'sNo',
                        'batchNo',
                        'issuedQuantity',
                        'dateOfIssue',
                        'returnQuantity',
                        'action'
                      ]
                    "
                  ></tr>
                </table>
              </ng-container>
              <div
                class="text-right"
                style="margin-top: 15px"
                *ngIf="batchForm.controls['batchList'].valid"
              >
                <button mat-mini-fab color="primary" (click)="addBatch()">
                  <mat-icon>add</mat-icon>
                </button>
              </div>
            </div>
          </div>
        </div>
      </mat-dialog-content>
      <div class="row m-t-10 m-b-10">
        <div class="col-xs-12 actionButton" id="topBtn">
          <button
            mat-raised-button
            *ngIf="editBatchList?.batchList?.length === 0"
            type="button"
            [disabled]="!batchForm.valid"
            (click)="saveAndUpdateItem()"
          >
            {{ currentLanguageSet?.common?.save }}
          </button>
          <button
            mat-raised-button
            *ngIf="editBatchList.batchList.length > 0"
            [disabled]="!batchForm.valid"
            type="button"
            (click)="saveAndUpdateItem()"
          >
            {{ currentLanguageSet?.inventory?.update }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
