.filterTest {
    vertical-align: text-bottom;
}

.input-full-width {
    width: 100%;
}

.box {
    height: 60px;
}

.back-btn-container {
    margin: -26px 15px 15px;
}



.previous-btn {
    margin: 5px 0px;
    background: #43a047 !important;
}

.m-b-40 {
    margin-bottom: 40px !important;
}

.vertical-align-middle {
    vertical-align: middle;
}

.noRecord {
    text-align: center; font-size: 16px; display: flex;
    justify-content: center;padding-top: 14px;
  }

  #topBtn {
    display: flex; 
    justify-content: flex-end;
    padding-top: 12px;
}

@media screen and (max-width: 768px) {
    .previous-btn {
        width: 100%;
    }
}
