.input-full-width {
  width: 100%;
}

.box {
  height: 60px;
}

.back-btn-container {
  margin-left: 9px; 
}

.previous-btn {
  margin: 5px 0px;
  background: #43a047 !important
}

.m-b-40 {
  margin-bottom: 40px !important;
}

@media screen and (max-width: 768px) {
  .previous-btn {
    width: 100%;
  }
}
.mat_form_field_background_color >>> .mdc-text-field--filled, .mdc-text-field--focused, .mat-mdc-form-field-focus-overlay, .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay, .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
  background-color: #f2f2f0 !important;
}
.mat_form_field_background_color_table >>>.mat-mdc-row:hover {
  color: #0277bd !important;
}
