<section class="container-fluid">
  <section class="row m-t-10 no-gutters">
    <div class="col-xs-12 col-sm-4 box" style="padding-top: 12px">
      <h4 style="font-size: larger">
        {{ currentLanguageSet?.inventory?.previousPhysicalStockEntry }}
      </h4>
    </div>

    <div class="col-xs-12 col-sm-3 box">
      <mat-form-field
        class="input-full-width mat_form_field_background_color"
        style="padding: 2px"
      >
        <mat-label>{{ currentLanguageSet?.inventory?.fromDate }}</mat-label>
        <input
          matInput
          [matDatepicker]="_startDatePicker"
          [min]="_minDate"
          [max]="_today"
          required="true"
          [(ngModel)]="_dateRange[0]"
          #startDate="ngModel"
          (keydown)="preventTyping($event)"
          readonly
        />
        <mat-datepicker-toggle
          matPrefix
          [for]="_startDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #_startDatePicker></mat-datepicker>
      </mat-form-field>
    </div>

    <div class="col-xs-12 col-sm-3 box">
      <mat-form-field
        class="input-full-width mat_form_field_background_color"
        style="padding: 2px"
      >
        <mat-label>{{ currentLanguageSet?.inventory?.toDate }}</mat-label>
        <input
          matInput
          [matDatepicker]="_endDatePicker"
          [disabled]="!_dateRange[0]"
          autocomplete="off"
          readonly="true"
          [min]="_dateRange[0]"
          [max]="_today"
          required="true"
          id="to-input"
          [(ngModel)]="_dateRange[1]"
          #endDate="ngModel"
          ngModel
        />
        <mat-datepicker-toggle
          matPrefix
          [for]="_endDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #_endDatePicker></mat-datepicker>
      </mat-form-field>
      <span
        class="errorText f-s-10 p-l-10"
        *ngIf="endDate.value < startDate.value"
      >
        {{ currentLanguageSet?.inventory?.toDateCannotBeBeforeFromDate }}
      </span>
    </div>
    <div class="col-xs-12 col-sm-2 box" style="margin-top: 15px">
      <button
        mat-raised-button
        [disabled]="
          !_dateRange[0] || !_dateRange[1] || endDate.value < startDate.value
        "
        type="button"
        (click)="updateDate()"
      >
        {{ currentLanguageSet?.inventory?.viewRecords }}
      </button>
    </div>
  </section>

  <section class="row m-t-10">
    <div class="col-xs-12">
      <mat-card class="m-b-40">
        <mat-card-content>
          <div class="row">
            <div class="col-xs-12 col-sm-12 text-right">
              <mat-form-field id="filterbox">
                <mat-label>{{
                  currentLanguageSet?.common?.inTableSearch
                }}</mat-label>
                <input
                  autocomplete="off"
                  autocomplete="off"
                  matInput
                  [(ngModel)]="filterTerm"
                  name="filterTerm"
                  (keyup)="filterConsumptionList(filterTerm)"
                />
                <mat-icon matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <div class="col-xs-12">
              <section class="table-responsive">
                <table
                  mat-table
                  [dataSource]="_filteredStockEntryList"
                  class="mat_form_field_background_color_table"
                  aria-describedby="viewStockDetails"
                >
                  <ng-container matColumnDef="noValue">
                    <th mat-header-cell *matHeaderCellDef></th>
                    <td mat-cell *matCellDef="let stock; let i = index">
                      {{ i + 1 }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="entryID">
                    <th mat-header-cell *matHeaderCellDef>
                      <b>{{ currentLanguageSet?.inventory?.entryID }}</b>
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let row; let i = index"
                      (click)="loadEntryDetails(row)"
                    >
                      {{ row?.phyEntryID }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="refNo">
                    <th mat-header-cell *matHeaderCellDef>
                      <b>{{ currentLanguageSet?.inventory?.refNo }}</b>
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let row"
                      (click)="loadEntryDetails(row)"
                    >
                      {{ row?.refNo }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="status">
                    <th mat-header-cell *matHeaderCellDef>
                      <b>{{ currentLanguageSet?.bendetails?.status }}</b>
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let row"
                      (click)="loadEntryDetails(row)"
                    >
                      {{ row?.status }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="createdBy">
                    <th mat-header-cell *matHeaderCellDef>
                      <b>{{ currentLanguageSet?.inventory?.createdBy }}</b>
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let row"
                      (click)="loadEntryDetails(row)"
                    >
                      {{ row?.createdBy }}
                    </td>
                  </ng-container>

                  <ng-container matColumnDef="createdDate">
                    <th mat-header-cell *matHeaderCellDef>
                      <b>{{ currentLanguageSet?.inventory?.createdDate }}</b>
                    </th>
                    <td
                      mat-cell
                      *matCellDef="let row"
                      (click)="loadEntryDetails(row)"
                    >
                      {{ row?.createdDate | istDate: "dd/MM/yyyy" }}
                    </td>
                  </ng-container>
                  <tr
                    mat-header-row
                    *matHeaderRowDef="[
                      'noValue',
                      'entryID',
                      'refNo',
                      'status',
                      'createdBy',
                      'createdDate'
                    ]"
                  ></tr>
                  <tr
                    mat-row
                    *matRowDef="
                      let row;
                      columns: [
                        'noValue',
                        'entryID',
                        'refNo',
                        'status',
                        'createdBy',
                        'createdDate'
                      ]
                    "
                  ></tr>
                </table>
                <div
                  *ngIf="
                    _filteredStockEntryList &&
                    _filteredStockEntryList.data.length === 0 &&
                    searched
                  "
                  style="text-align: center; font-size: 16px"
                >
                  <strong>{{
                    currentLanguageSet?.inventory?.norecordsfound
                  }}</strong>
                </div>
                <!-- <div
                  class="total-count"
                  *ngIf="_filteredStockEntryList.data.length > 0"
                >
                  {{ currentLanguageSet?.inventory?.totalCount }} :
                  {{ _filteredStockEntryList.data.length }}
                </div> -->
                <div style="text-align: right">
                  <mat-paginator
                    [hidden]="_filteredStockEntryList.data.length === 0"
                    [pageSizeOptions]="[5, 10, 25]"
                    [pageSize]="5"
                    showFirstLastButtons
                  ></mat-paginator>
                </div>
                <div></div>
              </section>
            </div>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="back-btn-container">
            <button
              mat-raised-button
              matTooltip="{{ currentLanguageSet?.inventory?.back }}"
              matTooltipPosition="right"
              color="primary"
              (click)="goBack()"
            >
              {{ currentLanguageSet?.inventory?.back }}
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</section>
