<app-header [showRoles]="true"></app-header>

<div class="container-fluid">
  <mat-sidenav-container class="example-sidenav-fab-container">
    <mat-sidenav class="sideNav" #sidenav mode="side" opened="false">
      <div class="example-scrolling-content sidenav">
        <app-beneficiary-details></app-beneficiary-details>
      </div>
    </mat-sidenav>
    <div class="example-scrolling-content content">
      <div class="container-fluid">
        <div class="row">
          <mat-radio-group
            [(ngModel)]="issueType"
            class="radio-group pull-left"
          >
            <mat-radio-button
              class="radio-button m-a-5"
              disableRipple="true"
              color="primary"
              [value]="1"
            >
              {{ currentLanguageSet?.itemDispense?.systemIssue }}
            </mat-radio-button>
            <mat-radio-button
              class="radio-button m-a-5"
              disableRipple="true"
              color="primary"
              [value]="0"
            >
              {{ currentLanguageSet?.itemDispense?.manualIssue }}
            </mat-radio-button>
          </mat-radio-group>
          <button
            mat-raised-button
            *ngIf="issueType === 1 && !prescribedList?.allocated"
            class="btn-green pull-right"
            id="allocate-batch"
            style="color: white"
            (click)="prescribedList.allocate()"
            type="button"
          >
            {{ currentLanguageSet?.inventory?.allocateBatch }}
          </button>
        </div>
        <div class="row m-t-20" *ngIf="prescription">
          <mat-accordion>
            <app-rx-item-dispense
              #prescribedList
              [issueType]="issueType"
              [prescription]="prescription"
            ></app-rx-item-dispense>
          </mat-accordion>
        </div>
      </div>
      <div class="row m-t-20 col-12" style="margin-bottom: 30px">
        <div class="col-6" style="margin-top: 15px">
          <button
            mat-mini-fab
            class="example-fab"
            color="primary"
            (click)="sideNavModeChange(sidenav)"
          >
            <mat-icon>account_box</mat-icon>
          </button>
        </div>
        <div class="col-6 step-btn" style="text-align: end">
          <button
            mat-raised-button
            id="submitButton"
            class="btn-green"
            (click)="submitForm(prescribedList.prescriptionForm)"
            style="color: white"
            type="button"
          >
            {{ currentLanguageSet?.common?.submit }}
          </button>
        </div>
      </div>
    </div>
  </mat-sidenav-container>
</div>

<app-footer></app-footer>
