<div class="title row">
  <div class="col-6">
    <h4>{{ currentLanguageSet?.inventory?.reasonForReject }}</h4>
  </div>
  <div class="col-6" style="text-align: end; margin-top: -10px">
    <button
      mat-icon-button
      [mat-dialog-close]
      class="pull-right exit width-20px"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<form [formGroup]="rejectRequestForm" autocomplete="off">
  <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-20">
    <mat-form-field [style.width]="'100%'">
      <mat-label>
        {{ currentLanguageSet?.inventory?.reason }}
      </mat-label>
      <input
        required="true"
        matInput
        allowText="alphanumericspace"
        maxlength="250"
        formControlName="rejectReason"
      />
    </mat-form-field>
  </div>
</form>
<div class="col-xs-12" style="text-align: end; margin: 10px 10px 10px 0px">
  <button
    class="pull-right"
    mat-raised-button
    color="primary"
    tabindex="-1"
    type="button"
    [disabled]="rejectRequestForm.invalid"
    (click)="rejectIndentRequest()"
  >
    {{ currentLanguageSet?.common?.ok }}
  </button>
</div>
