<div class="container-fluid">
  <div class="row m-t-10">
    <div class="col-xs-12 col-sm-6" style="padding-top: 12px">
      <h4 style="font-size: larger">
        {{ currentLanguageSet?.inventory?.storeAdjustment }}
      </h4>
    </div>

    <div class="col-xs-12 col-sm-6" id="topBtn">
      <button
        *ngIf="!editMode"
        mat-raised-button
        class="pull-right button-full-width"
        type="button"
        color="primary"
        routerLink="/inventory/storeStockAdjustment/view"
      >
        {{ currentLanguageSet?.inventory?.previousRecords }}
      </button>

      <button
        *ngIf="!editMode"
        mat-raised-button
        class="pull-right button-full-width"
        type="button"
        color="primary"
        routerLink="/inventory/storeStockAdjustmentDraft/view"
      >
        {{ currentLanguageSet?.inventory?.previousDraftRecords }}
      </button>
      <button
        *ngIf="!isMainStore"
        (click)="addEAushadhiStock()"
        mat-raised-button
        class="pull-right button-full-width"
        type="button"
        color="primary"
      >
        Add E-Aushadhi Stock
      </button>
    </div>
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12 m-t-5">
      <h5 style="float: right; font-size: medium; padding-top: 12px">
        E-aushadhi stock last updated on -
        <strong>{{
          lastUpdatedStockDate
            ? (lastUpdatedStockDate | date: "dd/MM/yyyy HH:mm")
            : "NA"
        }}</strong>
      </h5>
    </div>
  </div>
  <form [formGroup]="storeStockAdjustmentForm" autocomplete="off" novalidate>
    <div class="row m-t-20 mat_form_field_background_color">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <mat-form-field
          class="input-full-width mat_form_field_background_color"
        >
          <mat-label>{{
            currentLanguageSet?.inventory?.adjustmentDate
          }}</mat-label>
          <input
            matInput
            [matDatepicker]="adjustmentDatePicker"
            autocomplete="off"
            name="adjustmentDate"
            formControlName="adjustmentDate"
          />
          <mat-datepicker-toggle
            matPrefix
            [for]="adjustmentDatePicker"
          ></mat-datepicker-toggle>
          <mat-datepicker #adjustmentDatePicker></mat-datepicker>
        </mat-form-field>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3 box">
        <mat-form-field
          class="input-full-width mat_form_field_background_color mat_form_field_background_color_padding"
        >
          <mat-label>{{
            currentLanguageSet?.inventory?.referenceNumber
          }}</mat-label>
          <input
            matInput
            allowText="alphanumeric"
            name="refNo"
            formControlName="refNo"
            required
          />
        </mat-form-field>
      </div>
    </div>

    <div class="row m-t-10">
      <div class="col-xs-12" style="padding-top: 20px">
        <mat-card>
          <div class="table-responsive mat_form_field_background_color_table">
            <ng-container formArrayName="stockAdjustmentList"></ng-container>
            <table
              mat-table
              class="mat-elevation-z8"
              [dataSource]="dataSource"
              aria-describedby="storeStockDetails"
            >
              <ng-container matColumnDef="index">
                <th mat-header-cell *matHeaderCellDef>
                  {{ currentLanguageSet?.inventory?.index }}
                </th>
                <td
                  mat-cell
                  *matCellDef="let stock; let i = index"
                  [formGroup]="stock"
                >
                  {{ i + 1 }}
                </td>
              </ng-container>

              <!-- Item Name Column -->
              <ng-container matColumnDef="itemName">
                <th mat-header-cell *matHeaderCellDef>
                  <b>{{ currentLanguageSet?.inventory?.itemName }}</b>
                </th>
                <td
                  mat-cell
                  *matCellDef="let stock"
                  let
                  i="index"
                  [formGroup]="stock"
                >
                  <mat-form-field class="input-full-width">
                    <mat-label>{{
                      currentLanguageSet?.inventory?.itemName
                    }}</mat-label>
                    <input
                      matInput
                      allowText="itemNameSearchValidator"
                      appBatchAdjustment
                      [previousSelected]="
                        storeStockAdjustmentForm.value.stockAdjustmentList
                      "
                      [stockForm]="stock"
                      name="itemName"
                      formControlName="itemName"
                      maxlength="100"
                      required
                    />
                    <mat-icon
                      *ngIf="!stock.controls['itemName'].disabled"
                      class="search-btn"
                      matSuffix
                      appBatchAdjustment
                      [stockForm]="stock"
                      [previousSelected]="
                        storeStockAdjustmentForm.value.stockAdjustmentList
                      "
                      >search</mat-icon
                    >
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- Batch ID Column -->
              <ng-container matColumnDef="batchID">
                <th mat-header-cell *matHeaderCellDef>
                  <b>{{ currentLanguageSet?.inventory?.batchID }}</b>
                </th>
                <td
                  mat-cell
                  *matCellDef="let stock; let i = index"
                  [formGroup]="stock"
                >
                  <mat-form-field class="input-full-width">
                    <mat-label>{{
                      currentLanguageSet?.inventory?.batchID
                    }}</mat-label>
                    <input
                      matInput
                      name="batchID"
                      formControlName="batchID"
                      required
                      readonly
                    />
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- Quantity On Hand Column -->
              <ng-container matColumnDef="quantityOnHand">
                <th mat-header-cell *matHeaderCellDef>
                  <b>{{ currentLanguageSet?.inventory?.quantityOnHand }}</b>
                </th>
                <td
                  mat-cell
                  *matCellDef="let stock; let i = index"
                  [formGroup]="stock"
                >
                  <mat-form-field class="input-full-width">
                    <mat-label>
                      {{ currentLanguageSet?.inventory?.qOH }}
                    </mat-label>
                    <input
                      matInput
                      allowText="number"
                      name="quantityInHand"
                      formControlName="quantityInHand"
                      required
                      readonly
                    />
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- Adjustment Type Column -->
              <ng-container matColumnDef="adjustmentType">
                <th mat-header-cell *matHeaderCellDef>
                  <b>{{ currentLanguageSet?.inventory?.adjustmentType }}</b>
                </th>
                <td
                  mat-cell
                  *matCellDef="let stock; let i = index"
                  [formGroup]="stock"
                >
                  <mat-form-field class="input-full-width">
                    <mat-label>{{
                      currentLanguageSet?.inventory?.adjustmentType
                    }}</mat-label>
                    <mat-select
                      class="input-full-width"
                      name="adjustmentType"
                      formControlName="adjustmentType"
                      (selectionChange)="calculateQOHAfterAdjustment(stock)"
                      required
                    >
                      <mat-option
                        *ngFor="let adjustmentType of adjustmentTypeList"
                        [value]="adjustmentType"
                      >
                        {{ adjustmentType }}
                      </mat-option>
                    </mat-select>
                  </mat-form-field>
                </td>
              </ng-container>
              <!-- Adjustment Quantity Column -->
              <ng-container matColumnDef="adjustmentQuantity">
                <th mat-header-cell *matHeaderCellDef>
                  <b>{{ currentLanguageSet?.inventory?.adjustmentQuantity }}</b>
                </th>
                <td
                  mat-cell
                  *matCellDef="let stock; let i = index"
                  [formGroup]="stock"
                >
                  <mat-form-field
                    class="input-full-width"
                    *ngIf="stock.adjustmentType === 'Issue'"
                  >
                    <mat-label>{{
                      currentLanguageSet?.inventory?.adjustmentQuantity
                    }}</mat-label>
                    <input
                      matInput
                      allowText="number"
                      name="adjustedQuantity"
                      formControlName="adjustedQuantity"
                      (input)="calculateQOHAfterAdjustment(stock)"
                      allowMax="item.value.quantityInHand"
                      required
                    />
                  </mat-form-field>

                  <mat-form-field
                    class="input-full-width"
                    *ngIf="stock?.adjustmentType !== 'Issue'"
                  >
                    <mat-label>{{
                      currentLanguageSet?.inventory?.adjustmentQuantity
                    }}</mat-label>
                    <input
                      matInput
                      allowText="number"
                      name="adjustedQuantity"
                      formControlName="adjustedQuantity"
                      (input)="calculateQOHAfterAdjustment(stock)"
                      allowMax="9999"
                      required
                    />
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- QOH After Adjustment Column -->
              <ng-container matColumnDef="qOHAfterAdjustment">
                <th mat-header-cell *matHeaderCellDef>
                  <b>{{ currentLanguageSet?.inventory?.qOHAfterAdjustment }}</b>
                </th>
                <td
                  mat-cell
                  *matCellDef="let stock; let i = index"
                  [formGroup]="stock"
                >
                  <mat-form-field class="input-full-width">
                    <mat-label>{{
                      currentLanguageSet?.inventory?.qOHAfterAdjustment
                    }}</mat-label>
                    <input
                      matInput
                      allowText="number"
                      name="qohAfterAdjustment"
                      formControlName="qohAfterAdjustment"
                      required
                      readonly
                    />
                  </mat-form-field>
                </td>
              </ng-container>
              <!-- Reason Column -->
              <ng-container matColumnDef="reason">
                <th mat-header-cell *matHeaderCellDef>
                  <b>{{ currentLanguageSet?.inventory?.reason }}</b>
                </th>
                <td
                  mat-cell
                  *matCellDef="let stock; let i = index"
                  [formGroup]="stock"
                >
                  <mat-form-field class="input-full-width">
                    <mat-label>{{
                      currentLanguageSet?.inventory?.reason
                    }}</mat-label>
                    <input
                      matInput
                      allowText="alphaspace"
                      name="reason"
                      formControlName="reason"
                      required
                    />
                  </mat-form-field>
                </td>
              </ng-container>

              <!-- Action Column -->
              <ng-container matColumnDef="action">
                <th mat-header-cell *matHeaderCellDef>
                  <b>{{ currentLanguageSet?.inventory?.action }}</b>
                </th>
                <td
                  mat-cell
                  *matCellDef="let stock; let i = index"
                  class="text-right"
                >
                  <mat-icon
                    class="icon-remove cursorPointer"
                    matTooltip="{{ currentLanguageSet?.inventory?.delete }}"
                    (click)="removeFromStockAdjustmentList(i, stock)"
                    >delete</mat-icon
                  >
                </td>
              </ng-container>

              <!-- Header Row -->
              <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>

              <!-- Data Rows -->
              <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
            <div
              class="text-right"
              style="margin-top: 15px"
              *ngIf="
                storeStockAdjustmentForm.controls['stockAdjustmentList'].valid
              "
            >
              <button
                mat-mini-fab
                type="button"
                color="primary"
                (click)="addToStockAdjustmentList()"
              >
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="row m-t-10 m-b-40">
      <div class="col-xs-12" id="topBtn">
        <button
          *ngIf="editMode"
          type="button"
          class="pull-left"
          color="primary"
          mat-raised-button
          matTooltip="{{ currentLanguageSet?.inventory?.back }}"
          matTooltipPosition="right"
          (click)="goBack()"
        >
          {{ currentLanguageSet?.inventory?.back }}
        </button>
        <button
          type="button"
          mat-raised-button
          class="pull-right m-r-5"
          [disabled]="storeStockAdjustmentForm.invalid"
          (click)="submitStockAdjustmentFinal(storeStockAdjustmentForm)"
        >
          {{ currentLanguageSet?.common?.save }}
        </button>
        <button
          type="button"
          mat-raised-button
          class="pull-right m-r-5"
          [disabled]="storeStockAdjustmentForm.invalid"
          (click)="submitStockAdjustmentDraft(storeStockAdjustmentForm)"
        >
          {{ currentLanguageSet?.inventory?.saveDraft }}
        </button>
        <button
          type="button"
          mat-raised-button
          color="primary"
          class="pull-right m-r-5"
          [disabled]="storeStockAdjustmentForm.pristine"
          (click)="resetStoreStockAdjustmentForm()"
        >
          {{ currentLanguageSet?.inventory?.clear }}
        </button>
      </div>
    </div>
  </form>
</div>
