<div id="head" style="display: flex; justify-content: space-between">
  <h4 id="dialog_head" class="pull-left">
    {{ currentLanguageSet?.inventory?.adjustmentDraftDetails }}
  </h4>
  <mat-icon
    id="cross"
    class="pull-right"
    mat-dialog-close
    matTooltip="{{ currentLanguageSet?.inventory?.close }}"
    (click)="dialogRef.close(false)"
    >clear</mat-icon
  >
</div>

<div class="scrolling-content">
  <div class="container-fluid mat_form_field_background_color_table">
    <table
      mat-table
      class="mat-elevation-z8"
      class="table"
      aria-describedby="viewStoreStockDetails"
      [dataSource]="dataSource"
    >
      <!-- Define columns for mat-table -->
      <ng-container matColumnDef="stockAdjustmentDraftID">
        <th mat-header-cell *matHeaderCellDef>
          {{ currentLanguageSet?.inventory?.stockAdjustmentDraftID }}
        </th>
        <td mat-cell *matCellDef>
          {{ stock?.data.stockAdjustmentDraftID }}
        </td>
      </ng-container>

      <ng-container matColumnDef="refNo">
        <th mat-header-cell *matHeaderCellDef>
          {{ currentLanguageSet?.inventory?.refNo }}
        </th>
        <td mat-cell *matCellDef>
          {{ stock?.data.refNo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="draftDescription">
        <th mat-header-cell *matHeaderCellDef>
          {{ currentLanguageSet?.inventory?.draftDescription }}
        </th>
        <td mat-cell *matCellDef>
          {{ stock?.data.draftDesc }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>
          {{ currentLanguageSet?.inventory?.createdBy }}
        </th>
        <td mat-cell *matCellDef>
          {{ stock?.data.createdBy }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef>
          {{ currentLanguageSet?.inventory?.createdDate }}
        </th>
        <td mat-cell *matCellDef>
          {{ stock?.data.createdDate | istDate: "dd/MM/yyyy" }}
        </td>
      </ng-container>
      <!-- Header row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Data row -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="row" *ngIf="adjustmentList?.length > 0">
      <div class="col-xs-12 col-sm-12 text-right">
        <mat-form-field id="filterbox">
          <input
            autocomplete="off"
            tabindex="-1"
            matInput
            placeholder="{{ currentLanguageSet?.common?.inTableSearch }}"
            [(ngModel)]="filterTerm"
            name="filterTerm"
            (keyup)="filterDetails(filterTerm)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <section class="table-responsive mat_form_field_background_color_table">
          <table
            mat-table
            class="mat-elevation-z8"
            aria-describedby="viewStoreStockDetails"
            [dataSource]="newDataSource"
          >
            <!-- Define columns for mat-table -->
            <ng-container matColumnDef="noValue">
              <th mat-header-cell *matHeaderCellDef>
                {{ currentLanguageSet?.inventory?.sNo }}
              </th>
              <td mat-cell *matCellDef="let adjustment; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="itemName">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.itemName }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment; let i = index">
                {{ adjustment?.itemName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="batchNo">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.itemDispense?.batchNo }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment; let i = index">
                {{ adjustment?.batchID }}
              </td>
            </ng-container>

            <ng-container matColumnDef="quantityOnHand">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.quantityOnHand }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment; let i = index">
                {{ adjustment?.quantityInHand }}
              </td>
            </ng-container>

            <ng-container matColumnDef="adjustmentType">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.adjustmentType }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment; let i = index">
                {{ adjustment?.isAdded ? "Receipt" : "Issue" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="adjustedQuantity">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.adjustedQuantity }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment; let i = index">
                {{ adjustment?.adjustedQuantity }}
              </td>
            </ng-container>

            <ng-container matColumnDef="reason">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.reason }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment; let i = index">
                {{ adjustment?.reason }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="adjustmentListColumns"></tr>
            <!-- Data row -->
            <tr
              mat-row
              *matRowDef="let row; columns: adjustmentListColumns"
            ></tr>
          </table>
        </section>
      </div>
    </div>

    <div class="row m-b-15">
      <div class="col-xs-12" style="display: flex; justify-content: end">
        <button
          color="primary"
          class="pull-right"
          mat-raised-button
          type="button"
          tabindex="-1"
          (click)="dialogRef.close(stock)"
        >
          {{ currentLanguageSet?.inventory?.print }}
        </button>
      </div>
    </div>
  </div>
</div>
