<div id="head" style="display: flex; justify-content: space-between">
  <h4 id="dialog_head" class="pull-left">
    {{ currentLanguageSet?.inventory?.adjustmentDetails }}
  </h4>
  <mat-icon
    id="cross"
    class="pull-right"
    mat-dialog-close
    matTooltip="{{ currentLanguageSet?.inventory?.close }}"
    (click)="dialogRef.close(false)"
    >clear</mat-icon
  >
</div>

<div class="scrolling-content">
  <div
    class="container-fluid mat_form_field_background_color_table"
    style="margin-top: 20px"
  >
    <table
      mat-table
      style="border: 1px solid #ddd"
      class="mat-elevation-z8"
      class="table"
      aria-describedby="viewStoreStockDetails"
      [dataSource]="dataSource"
    >
      <ng-container matColumnDef="stockAdjustmentID">
        <th mat-header-cell *matHeaderCellDef>
          <b>{{ currentLanguageSet?.inventory?.stockAdjustmentID }}</b>
        </th>
        <td mat-cell *matCellDef="let stock">
          {{ stock?.data.stockAdjustmentID }}
        </td>
      </ng-container>

      <ng-container matColumnDef="refNo">
        <th mat-header-cell *matHeaderCellDef>
          <b>{{ currentLanguageSet?.inventory?.refNo }}</b>
        </th>
        <td mat-cell *matCellDef="let stock">
          {{ stock?.data.refNo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>
          <b>{{ currentLanguageSet?.inventory?.createdBy }}</b>
        </th>
        <td mat-cell *matCellDef="let stock">
          {{ stock?.data.createdBy }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef>
          <b>{{ currentLanguageSet?.inventory?.createdDate }}</b>
        </th>
        <td mat-cell *matCellDef="let stock">
          {{ stock?.data.createdDate | istDate: "dd/MM/yyyy" }}
        </td>
      </ng-container>
      <!-- Header row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Data row -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="row" *ngIf="adjustmentList?.length > 0">
      <div class="col-xs-12 col-sm-12 text-right">
        <mat-form-field id="filterbox">
          <input
            autocomplete="off"
            tabindex="-1"
            matInput
            placeholder="{{ currentLanguageSet?.common?.inTableSearch }}"
            [(ngModel)]="filterTerm"
            name="filterTerm"
            (keyup)="filterDetails(filterTerm)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <section class="table-responsive mat_form_field_background_color_table">
          <table
            mat-table
            class="mat-elevation-z8"
            aria-describedby="viewStoreStockDetails"
            [dataSource]="dataSource2"
          >
            <!-- Define columns for mat-table -->
            <ng-container matColumnDef="noValue">
              <th mat-header-cell *matHeaderCellDef>
                {{ currentLanguageSet?.inventory?.sNo }}
              </th>
              <td mat-cell *matCellDef="let stock; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="itemName">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.itemName }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment">
                {{ adjustment?.itemName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="batchNo">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.itemDispense?.batchNo }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment">
                {{ adjustment?.batchID }}
              </td>
            </ng-container>

            <ng-container matColumnDef="quantityOnHand">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.quantityOnHand }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment">
                {{ adjustment?.quantityInHand }}
              </td>
            </ng-container>

            <ng-container matColumnDef="adjustmentType">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.adjustmentType }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment">
                {{ adjustment?.isAdded ? "Receipt" : "Issue" }}
              </td>
            </ng-container>

            <ng-container matColumnDef="adjustedQuantity">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.adjustedQuantity }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment">
                {{ adjustment?.adjustedQuantity }}
              </td>
            </ng-container>

            <ng-container matColumnDef="reason">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.reason }}</b>
              </th>
              <td mat-cell *matCellDef="let adjustment">
                {{ adjustment?.reason }}
              </td>
            </ng-container>
            <tr mat-header-row *matHeaderRowDef="storeListColumns"></tr>
            <!-- Data row -->
            <tr mat-row *matRowDef="let row; columns: storeListColumns"></tr>
          </table>
          <!-- <div class="total-count" *ngIf="dataSource2.data.length > 0">
            {{ currentLanguageSet?.inventory?.totalCount }} :
            {{ dataSource2.data.length }}
          </div> -->

          <mat-paginator
            [hidden]="dataSource2.data.length === 0"
            [pageSizeOptions]="[5, 10, 25]"
            [pageSize]="5"
            showFirstLastButtons
          ></mat-paginator>
        </section>
      </div>
    </div>

    <div class="row m-b-15">
      <div
        class="col-xs-12"
        style="display: flex; justify-content: end; margin-top: 10px"
      >
        <button
          class="pull-right"
          color="primary"
          mat-raised-button
          tabindex="-1"
          type="button"
          (click)="dialogRef.close(stock)"
        >
          {{ currentLanguageSet?.inventory?.print }}
        </button>
      </div>
    </div>
  </div>
</div>
