<div class="title row col-12">
  <div class="col-6">
    <h4>{{ currentLanguageSet?.inventory?.issuedBatch }}</h4>
  </div>
  <div class="col-6" style="text-align: end; margin-top: -10px">
    <button mat-icon-button [matDialogClose]="false" class="pull-right exit">
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>

<div class="container-fluid">
  <mat-dialog-content>
    <div class="row m-t-10" *ngIf="issuedBatchList.data.length > 0">
      <div class="col-xs-12">
        <table
          mat-table
          [dataSource]="issuedBatchList"
          class="mat-elevation-z8 mat_form_field_background_color_table"
        >
          <ng-container matColumnDef="sNo">
            <th mat-header-cell *matHeaderCellDef>
              {{ currentLanguageSet?.inventory?.sNo }}
            </th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [rowSpan]="element?.itemBatchList?.length + 1"
              class="width-percent-5"
            >
              {{ i + 1 }}
            </td>
          </ng-container>

          <ng-container matColumnDef="item">
            <th mat-header-cell *matHeaderCellDef>
              {{ currentLanguageSet?.inventory?.item }}
            </th>
            <td
              mat-cell
              *matCellDef="let element; let i = index"
              [rowSpan]="element?.itemBatchList?.length + 1"
              class="width-percent-10"
            >
              {{ element?.itemName }}
            </td>
          </ng-container>

          <ng-container matColumnDef="batchNo">
            <th mat-header-cell *matHeaderCellDef>
              {{ currentLanguageSet?.itemDispense?.batchNo }}
            </th>
            <td mat-cell *matCellDef="let element" class="width-percent-25">
              {{ element?.itemBatchList[0].batchNo }}
            </td>
          </ng-container>

          <ng-container matColumnDef="quantityOnHand">
            <th mat-header-cell *matHeaderCellDef>
              {{ currentLanguageSet?.inventory?.quantityOnHand }}
            </th>
            <td mat-cell *matCellDef="let element" class="width-percent-25">
              {{ element?.itemBatchList[0].quantityInHand }}
            </td>
          </ng-container>

          <ng-container matColumnDef="expiryDate">
            <th mat-header-cell *matHeaderCellDef>
              {{ currentLanguageSet?.itemDispense?.expiryDate }}
            </th>
            <td mat-cell *matCellDef="let element" class="width-percent-25">
              {{ element?.itemBatchList[0].expiryDate | date: "dd/MM/yyyy" }}
            </td>
          </ng-container>

          <ng-container matColumnDef="quantityDispensed">
            <th mat-header-cell *matHeaderCellDef>
              {{ currentLanguageSet?.itemDispense?.quantityDispensed }}
            </th>
            <td mat-cell *matCellDef="let element" class="width-percent-25">
              {{ element?.itemBatchList[0].quantity }}
            </td>
          </ng-container>

          <tr
            mat-header-row
            *matHeaderRowDef="[
              'sNo',
              'item',
              'batchNo',
              'quantityOnHand',
              'expiryDate',
              'quantityDispensed'
            ]"
          ></tr>
          <tr
            mat-row
            *matRowDef="
              let row;
              columns: [
                'sNo',
                'item',
                'batchNo',
                'quantityOnHand',
                'expiryDate',
                'quantityDispensed'
              ]
            "
          ></tr>
        </table>
      </div>
    </div>
  </mat-dialog-content>

  <div class="row">
    <div
      class="col-xs-12 actionButton"
      style="display: flex; justify-content: flex-start"
    >
      <button
        mat-raised-button
        *ngIf="issuedBatchList.data.length > 0"
        type="button"
        [disabled]="!(issuedBatchList.data.length > 0)"
        (click)="saveUpdateAndPrintItem()"
      >
        {{ currentLanguageSet?.inventory?.saveAndPrint }}
      </button>
      <button
        style="margin-left: 4px"
        mat-raised-button
        *ngIf="issuedBatchList.data.length > 0"
        type="button"
        [disabled]="!(issuedBatchList.data.length > 0)"
        (click)="saveAndUpdateItem()"
      >
        {{ currentLanguageSet?.common?.save }}
      </button>
    </div>
  </div>
</div>
