<section class="container-fluid">
  <section class="row m-t-10 no-gutters">
    <div class="col-xs-12 col-sm-4 box" style="padding-top: 12px">
      <h4 style="font-size: larger">
        {{ currentLanguageSet?.inventory?.previousStoreConsumption }}
      </h4>
    </div>
    <div class="col-xs-12 col-sm-3 box">
      <mat-form-field class="input-full-width" style="padding: 2px">
        <mat-label>{{ currentLanguageSet?.inventory?.fromDate }}</mat-label>
        <input
          matInput
          [matDatepicker]="invFromDatePicker"
          (keydown)="preventTyping($event)"
          class="input-full-width"
          autocomplete="off"
          readonly="true"
          [min]="_minDate"
          [max]="_today"
          placeholder="{{ currentLanguageSet?.inventory?.fromDate }}"
          required="true"
          id="from-input"
          [(ngModel)]="_dateRange[0]"
          #startDate="ngModel"
          ngModel
        />
        <mat-datepicker-toggle
          matPrefix
          [for]="invFromDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #invFromDatePicker></mat-datepicker>
      </mat-form-field>
    </div>
    <div class="col-xs-12 col-sm-3 box">
      <mat-form-field class="input-full-width" style="padding: 2px">
        <mat-label>{{ currentLanguageSet?.inventory?.toDate }}</mat-label>
        <input
          matInput
          [matDatepicker]="invtoDatePicker"
          (keydown)="preventTyping($event)"
          class="input-full-width"
          [disabled]="!_dateRange[0]"
          autocomplete="off"
          readonly="true"
          [min]="_dateRange[0]"
          [max]="_today"
          placeholder="{{ currentLanguageSet?.inventory?.toDate }}"
          required="true"
          id="to-input"
          [(ngModel)]="_dateRange[1]"
          #endDate="ngModel"
          ngModel
        />
        <mat-datepicker-toggle
          matPrefix
          [for]="invtoDatePicker"
        ></mat-datepicker-toggle>
        <mat-datepicker #invtoDatePicker></mat-datepicker>
      </mat-form-field>
      <span
        class="errorText f-s-10 p-l-10"
        *ngIf="endDate.value < startDate.value"
        >{{ currentLanguageSet?.inventory?.toDateCannotBeBeforeFromDate }}</span
      >
    </div>
    <div class="col-xs-12 col-sm-2 box">
      <button
        mat-raised-button
        [disabled]="
          !_dateRange[0] || !_dateRange[1] || endDate.value < startDate.value
        "
        type="button"
        (click)="updateDate()"
      >
        {{ currentLanguageSet?.inventory?.viewRecords }}
      </button>
    </div>
  </section>

  <section class="row m-t-20">
    <div class="col-xs-12">
      <mat-card class="m-b-40">
        <mat-card-content>
          <div class="row">
            <div class="col-xs-12 text-right">
              <mat-form-field id="filterbox">
                <input
                  autocomplete="off"
                  matInput
                  placeholder="{{ currentLanguageSet?.common?.inTableSearch }}"
                  [(ngModel)]="filterTerm"
                  name="filterTerm"
                  (keyup)="filterConsumptionList(filterTerm)"
                />
                <mat-icon class="matIcon" matSuffix>search</mat-icon>
              </mat-form-field>
            </div>
            <section class="col-xs-12 table-responsive">
              <mat-table
                class="mat-elevation-z8"
                [dataSource]="_filteredConsumptionList"
              >
                <!-- Define columns for mat-table -->
                <ng-container matColumnDef="noValue">
                  <mat-header-cell *matHeaderCellDef>{{
                    currentLanguageSet?.inventory?.index
                  }}</mat-header-cell>
                  <mat-cell *matCellDef="let consumption; let i = index">{{
                    i + 1
                  }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="consumptionID">
                  <mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.inventory?.consumptionID }}
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let consumption"
                    (click)="loadConsumptionDetails(consumption)"
                  >
                    {{ consumption?.consumptionID }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="refNo">
                  <mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.inventory?.refNo }}
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let consumption"
                    (click)="loadConsumptionDetails(consumption)"
                  >
                    {{ consumption?.refNo }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="reason">
                  <mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.inventory?.reason }}
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let consumption"
                    (click)="loadConsumptionDetails(consumption)"
                  >
                    {{ consumption?.reason }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="createdBy">
                  <mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.inventory?.createdBy }}
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let consumption"
                    (click)="loadConsumptionDetails(consumption)"
                  >
                    {{ consumption?.createdBy }}
                  </mat-cell>
                </ng-container>

                <ng-container matColumnDef="createdDate">
                  <mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.inventory?.createdDate }}
                  </mat-header-cell>
                  <mat-cell
                    *matCellDef="let consumption"
                    (click)="loadConsumptionDetails(consumption)"
                  >
                    {{ consumption?.createdDate | istDate: "dd/MM/yyyy" }}
                  </mat-cell>
                </ng-container>
                <!-- Header row -->
                <mat-header-row
                  *matHeaderRowDef="displayedColumns"
                ></mat-header-row>
                <!-- Data row -->
                <mat-row *matRowDef="let row; columns: displayedColumns">
                </mat-row>
              </mat-table>
              <div
                *ngIf="
                  _filteredConsumptionList &&
                  _filteredConsumptionList.data.length === 0 &&
                  searched
                "
                class="noRecord"
              >
                <strong>{{
                  currentLanguageSet?.inventory?.norecordsfound
                }}</strong>
              </div>
              <div
                class="total-count"
                *ngIf="_filteredConsumptionList.data.length > 0"
              >
                {{ currentLanguageSet?.inventory?.totalCount }} :
                {{ _filteredConsumptionList.data.length }}
              </div>
              <mat-paginator
                [hidden]="_filteredConsumptionList.data.length === 0"
                [pageSizeOptions]="[5, 10, 25]"
                [pageSize]="5"
                showFirstLastButtons
              ></mat-paginator>
            </section>
          </div>
        </mat-card-content>
        <mat-card-actions>
          <div class="back-btn-container">
            <button
              mat-raised-button
              matTooltip="{{ currentLanguageSet?.inventory?.back }}"
              matTooltipPosition="right"
              color="primary"
              (click)="goBack()"
            >
              {{ currentLanguageSet?.inventory?.back }}
            </button>
          </div>
        </mat-card-actions>
      </mat-card>
    </div>
  </section>
</section>
