<section class="container-fluid" *ngIf="!enableDispensary">
  <section class="row m-t-10 no-gutters">
    <div class="col-xs-12 col-sm-6">
      <h4>{{ currentLanguageSet?.inventory?.mainStoreIndentOrderWorklist }}</h4>
    </div>
    <div class="col-xs-12 col-sm-6">
      <button
        mat-raised-button
        class="pull-right button-full-width"
        type="button"
        color="primary"
        *ngIf="enableIndentReceipt"
        (click)="routingPath()"
      >
        {{ currentLanguageSet?.inventory?.indentReceipt }}
      </button>
    </div>
  </section>

  <section class="row m-t-10 m-b-40">
    <div class="col-xs-12">
      <mat-card>
        <mat-card-content>
          <div class="row">
            <div class="col-xs-12 m-t-10">
              <div class="table-responsive">
                <div class="mat-elevation-z8">
                  <table mat-table [dataSource]="mainstoreOrderlist">
                    <ng-container matColumnDef="SNo">
                      <th mat-header-cell *matHeaderCellDef></th>
                      <td mat-cell *matCellDef="let element">
                        {{ mainstoreOrderlist.data.indexOf(element) + 1 }}
                      </td>
                    </ng-container>

                    <!-- Indent Column -->
                    <ng-container matColumnDef="indentID">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ currentLanguageSet?.inventory?.indentID }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.indentID }}
                      </td>
                    </ng-container>

                    <!-- referenceNo Column -->
                    <ng-container matColumnDef="referenceNo">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ currentLanguageSet?.inventory?.referenceNo }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.refNo }}
                      </td>
                    </ng-container>

                    <!-- requestDate Column -->
                    <ng-container matColumnDef="requestDate">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ currentLanguageSet?.inventory?.requestDate }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        {{ element.createdDate | utcDate | date: "dd/MM/yyyy" }}
                      </td>
                    </ng-container>

                    <!-- view Column -->
                    <ng-container matColumnDef="view">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ currentLanguageSet?.inventory?.view }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <mat-icon (click)="viewItemListDetails(element)"
                          >remove_red_eye</mat-icon
                        >
                      </td>
                    </ng-container>

                    <!-- action Column -->
                    <ng-container matColumnDef="action">
                      <th mat-header-cell *matHeaderCellDef>
                        {{ currentLanguageSet?.bendetails?.action }}
                      </th>
                      <td mat-cell *matCellDef="let element">
                        <div>
                          <button
                            mat-raised-button
                            class="button-full-width m-r-5 mat_green"
                            type="button"
                            color="accent"
                            (click)="viewItemListDetailsForDispense(element)"
                          >
                            {{ currentLanguageSet?.inventory?.accept }}
                          </button>
                          <button
                            mat-raised-button
                            class="button-full-width"
                            type="button"
                            color="warn"
                            (click)="rejectIndent(element)"
                          >
                            {{ currentLanguageSet?.inventory?.reject }}
                          </button>
                        </div>
                      </td>
                    </ng-container>

                    <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                    <tr
                      mat-row
                      *matRowDef="let row; columns: displayedColumns"
                    ></tr>
                  </table>
                  <!-- NO DATA -->
                  <div
                    *ngIf="mainstoreOrderlist.data.length === 0"
                    style="text-align: center !important"
                  >
                    No Record found
                  </div>

                  <mat-paginator
                    [hidden]="mainstoreOrderlist.data.length === 0"
                    [pageSizeOptions]="[5, 10, 15, 20]"
                    showFirstLastButtons
                    aria-label="Select page of main store order list"
                  >
                  </mat-paginator>
                </div>
              </div>
            </div>
          </div>
        </mat-card-content>
      </mat-card>
    </div>
  </section>
</section>
