footer {
  background: rgb(37, 55, 70);
  height: 30px;
  padding: 3px;
  color: white;
}
  
  .footer-text {
    margin: 0px;
  }
  
  .online {
    background: green;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  
  .offline {
    background: red;
    display: inline-block;
    height: 10px;
    width: 10px;
    border-radius: 50%;
  }
  
  .spec {
    margin-top: -6px;
  }
  
  .netstate {
    margin-top: 8px;
  }
  
  .swymed-btn {
    background: #354f64
  }
  
  .footer-text-year {
    text-align: center;
  }
  
  .footer-text-status {
    text-align: right;
  }
  
  .footerAlign {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 5px;
    margin-right: 10px;
  }