<div id="head" style="display: flex; justify-content: space-between">
  <h4 id="dialog_head" class="pull-left">
    {{ currentLanguageSet?.inventory?.consumptionDetails }}
  </h4>
  <mat-icon
    id="cross"
    class="pull-right"
    matTooltip="{{ currentLanguageSet?.inventory?.close }}"
    mat-dialog-close
    matTooltip="{{ currentLanguageSet?.inventory?.close }}"
    (click)="dialogRef.close(false)"
    >clear</mat-icon
  >
</div>

<div class="scrolling-content">
  <div
    class="container-fluid mat_form_field_background_color_table"
    style="margin-top: 10px"
  >
    <table
      style="border: 1px solid #ddd"
      mat-table
      class="mat-elevation-z8"
      class="table"
      aria-describedby="viewStoreSelfDetails"
      [dataSource]="_dataStoreSelfList"
    >
      <ng-container matColumnDef="consumptionID">
        <th mat-header-cell *matHeaderCellDef>
          <b>{{ currentLanguageSet?.inventory?.consumptionID }}</b>
        </th>
        <td mat-cell *matCellDef="let consumption">
          {{ data?.consumptionDetails?.consumptionID }}
        </td>
      </ng-container>

      <ng-container matColumnDef="refNo">
        <th mat-header-cell *matHeaderCellDef>
          <b>{{ currentLanguageSet?.inventory?.refNo }}</b>
        </th>
        <td mat-cell *matCellDef="let consumption">
          {{ data?.consumptionDetails?.refNo }}
        </td>
      </ng-container>

      <ng-container matColumnDef="reason">
        <th mat-header-cell *matHeaderCellDef>
          <b>{{ currentLanguageSet?.inventory?.reason }}</b>
        </th>
        <td mat-cell *matCellDef="let consumption">
          {{ data?.consumptionDetails?.reason }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdBy">
        <th mat-header-cell *matHeaderCellDef>
          <b>{{ currentLanguageSet?.inventory?.createdBy }}</b>
        </th>
        <td mat-cell *matCellDef="let consumption">
          {{ data?.consumptionDetails?.createdBy }}
        </td>
      </ng-container>

      <ng-container matColumnDef="createdDate">
        <th mat-header-cell *matHeaderCellDef>
          <b>{{ currentLanguageSet?.inventory?.createdDate }}</b>
        </th>
        <td mat-cell *matCellDef="let consumption">
          {{ data?.consumptionDetails?.createdDate | istDate: "dd/MM/yyyy" }}
        </td>
      </ng-container>
      <!-- Header row -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <!-- Data row -->
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>

    <div class="row">
      <div class="col-xs-12 col-sm-12 text-right">
        <mat-form-field id="filterbox">
          <input
            autocomplete="off"
            tabindex="-1"
            matInput
            placeholder="{{ currentLanguageSet?.common?.inTableSearch }}"
            [(ngModel)]="_filterTerm"
            name="filterTerm"
            (keyup)="filterDetails(_filterTerm)"
          />
          <mat-icon matSuffix>search</mat-icon>
        </mat-form-field>
      </div>
    </div>

    <div class="row">
      <div class="col-xs-12">
        <section class="table-responsive mat_form_field_background_color_table">
          <table
            mat-table
            class="mat-elevation-z8"
            class="table"
            aria-describedby="viewStoreSelfDetails"
            [dataSource]="dataSource"
          >
            <!-- Define columns for mat-table -->
            <ng-container matColumnDef="noValue">
              <th mat-header-cell *matHeaderCellDef>
                {{ currentLanguageSet?.inventory?.sNo }}
              </th>
              <td mat-cell *matCellDef="let consumption; let i = index">
                {{ i + 1 }}
              </td>
            </ng-container>

            <ng-container matColumnDef="itemName">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.itemName }}</b>
              </th>
              <td mat-cell *matCellDef="let consumption">
                {{ consumption?.itemName }}
              </td>
            </ng-container>

            <ng-container matColumnDef="batchNo">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.batchNo }}</b>
              </th>
              <td mat-cell *matCellDef="let consumption">
                {{ consumption?.batchNo }}
              </td>
            </ng-container>

            <ng-container matColumnDef="quantity">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.inventory?.quantity }}</b>
              </th>
              <td mat-cell *matCellDef="let consumption">
                {{ consumption?.quantity }}
              </td>
            </ng-container>

            <ng-container matColumnDef="expiryDate">
              <th mat-header-cell *matHeaderCellDef>
                <b>{{ currentLanguageSet?.itemDispense?.expiryDate }}</b>
              </th>
              <td mat-cell *matCellDef="let consumption">
                {{ consumption?.expiryDate | date: "dd/MM/yyyy" }}
              </td>
            </ng-container>
            <!-- Header row -->
            <tr mat-header-row *matHeaderRowDef="displayedColviewSelf"></tr>
            <!-- Data row -->
            <tr
              mat-row
              *matRowDef="let row; columns: displayedColviewSelf"
            ></tr>
          </table>
          <!-- <div class="total-count" *ngIf="dataSource.data.length > 0">
            {{ currentLanguageSet?.inventory?.totalCount }} :
            {{ dataSource.data.length }}
          </div> -->
          <mat-paginator
            [hidden]="dataSource.data.length === 0"
            [pageSizeOptions]="[5, 10, 25]"
            [pageSize]="5"
            showFirstLastButtons
          ></mat-paginator>
        </section>
      </div>
    </div>

    <div class="row m-b-15">
      <div
        class="col-xs-12"
        style="display: flex; justify-content: end; margin-top: 10px"
      >
        <button
          mat-raised-button
          type="button"
          color="primary"
          tabindex="-1"
          (click)="print()"
        >
          {{ currentLanguageSet?.inventory?.print }}
        </button>
      </div>
    </div>
  </div>
</div>
