<div class="container-fluid">
  <form [formGroup]="physicalStockEntryForm" autocomplete="off">
    <div class="row m-t-10">
      <div class="col-xs-12 col-sm-6">
        <h4>
          {{ currentLanguageSet?.inventory?.physicalStockEntry }}
        </h4>
      </div>
      <div class="col-xs-12 col-sm-6" id="topBtn">
        <button
          mat-raised-button
          class="pull-right button-full-width"
          type="button"
          color="primary"
          routerLink="View"
        >
          {{ currentLanguageSet?.inventory?.previousRecords }}
        </button>
      </div>
    </div>

    <div class="row m-t-10">
      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-form-field
          class="input-full-width mat_form_field_background_color mat_form_field_background_color_padding"
        >
          <mat-label>{{
            currentLanguageSet?.inventory?.referenceNumber
          }}</mat-label>
          <input
            matInput
            allowText="alphanumeric"
            maxlength="20"
            name="referenceNumber"
            formControlName="referenceNumber"
            #referenceNumber
            required
          />
        </mat-form-field>
        <mat-hint>
          <span
            class="error_text"
            *ngIf="
              !physicalStockEntryForm.get('referenceNumber')?.valid &&
              (physicalStockEntryForm.get('referenceNumber')?.dirty ||
                physicalStockEntryForm.get('referenceNumber')?.touched)
            "
          >
            {{ currentLanguageSet?.inventory?.pleaseenterReferenceNumber }}
          </span>
        </mat-hint>
      </div>

      <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
        <mat-form-field
          class="input-full-width mat_form_field_background_color"
        >
          <mat-label>{{ currentLanguageSet?.inventory?.date }}</mat-label>
          <input
            readonly
            matInput
            [matDatepicker]="picker"
            name="stockEntryDate"
            placeholder="{{ currentLanguageSet?.inventory?.date }}"
            [formControl]="stockEntryDate"
          />
          <mat-datepicker-toggle
            [disabled]="true"
            matPrefix
            [for]="picker"
          ></mat-datepicker-toggle>
          <mat-datepicker #picker></mat-datepicker>
        </mat-form-field>
      </div>
    </div>

    <div class="row m-t-10">
      <div class="col-xs-12">
        <mat-card>
          <div class="table-responsive">
            <ng-container formArrayName="physicalStock">
              <table
                mat-table
                class="mat-elevation-z8 mat_form_field_background_color_table"
                [dataSource]="dataSource"
              >
                <ng-container matColumnDef="index">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.inventory?.index }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let stock; let i = index"
                    [formGroup]="stock"
                  >
                    {{ i + 1 }}
                  </td>
                </ng-container>
                <ng-container matColumnDef="itemName">
                  <th mat-header-cell *matHeaderCellDef>
                    <b>{{ currentLanguageSet?.inventory?.itemName }}</b>
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let stock; let i = index"
                    [formGroup]="stock"
                  >
                    <mat-form-field
                      class="input-full-width mat_form_field_background_color_table"
                    >
                      <mat-label>{{
                        currentLanguageSet?.inventory?.itemName
                      }}</mat-label>
                      <input
                        matInput
                        allowText="itemNameSearchValidator"
                        appItemSearch
                        [stockForm]="stock"
                        required
                        name="itemName"
                        formControlName="itemName"
                        #itemName
                        maxlength="100"
                      />
                      <mat-icon
                        *ngIf="!stock.controls['itemName'].disabled"
                        class="search-btn"
                        appItemSearch
                        [stockForm]="stock"
                        matSuffix
                        >search</mat-icon
                      >
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="quantity">
                  <th mat-header-cell *matHeaderCellDef>
                    <b>{{ currentLanguageSet?.inventory?.qtyInLowestUnit }}</b>
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let stock; let i = index"
                    [formGroup]="stock"
                  >
                    <mat-form-field
                      class="input-full-width mat_form_field_background_color_table"
                    >
                      <mat-label>{{
                        currentLanguageSet?.inventory?.qtyInLowestUnit
                      }}</mat-label>
                      <input
                        matInput
                        allowText="number"
                        name="quantity"
                        formControlName="quantity"
                        maxlength="6"
                        [required]="true"
                        [readonly]="!stock.value.itemID"
                        [(ngModel)]="stock.quantity"
                      />
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="totalCostPrice">
                  <th mat-header-cell *matHeaderCellDef>
                    <b>{{ currentLanguageSet?.inventory?.unitCostPrice }}</b>
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let stock; let i = index"
                    [formGroup]="stock"
                  >
                    <mat-form-field
                      class="input-full-width mat_form_field_background_color_table"
                    >
                      <mat-label>{{
                        currentLanguageSet?.inventory?.unitCostPrice
                      }}</mat-label>
                      <input
                        matInput
                        allowText="decimal"
                        maxlength="5"
                        name="totalCostPrice"
                        formControlName="totalCostPrice"
                        [required]="true"
                        [readonly]="!stock.value.itemID"
                      />
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="batchNo">
                  <th mat-header-cell *matHeaderCellDef>
                    <b>{{ currentLanguageSet?.itemDispense?.batchNo }}</b>
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let stock; let i = index"
                    [formGroup]="stock"
                  >
                    <mat-form-field
                      class="input-full-width mat_form_field_background_color_table"
                    >
                      <mat-label>{{
                        currentLanguageSet?.itemDispense?.batchNo
                      }}</mat-label>
                      <input
                        matInput
                        maxlength="45"
                        name="batchNo"
                        formControlName="batchNo"
                        [required]="true"
                        [readonly]="!stock.value.itemID"
                        (change)="checkForDuplicateBatch(stock, i)"
                      />
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="expiryDate">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="padding-left: 50px"
                  >
                    <b>{{ currentLanguageSet?.itemDispense?.expiryDate }}</b>
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let stock; let i = index"
                    [formGroup]="stock"
                    class="input-full-width input-datepicker"
                  >
                    <mat-form-field
                      class="input-full-width mat_form_field_background_color_table"
                    >
                      <mat-label>{{
                        currentLanguageSet?.itemDispense?.expiryDate
                      }}</mat-label>
                      <input
                        matInput
                        [matDatepicker]="expDate"
                        name="expiryDate"
                        [min]="today"
                        [required]="stock.value.isMedical"
                        [disabled]="!stock.value.itemID"
                        name="expiryDate"
                        formControlName="expiryDate"
                        (keydown)="preventTyping($event)"
                      />
                      <mat-datepicker-toggle
                        [disabled]="!stock.value.itemID"
                        matPrefix
                        [for]="expDate"
                      ></mat-datepicker-toggle>
                      <mat-datepicker #expDate></mat-datepicker>
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.inventory?.actions }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let stock; let i = index"
                    [formGroup]="stock"
                    class="text-right"
                  >
                    <mat-icon
                      class="cursorPointer"
                      (click)="removeStock(i, stock)"
                      matTooltip="{{ currentLanguageSet?.inventory?.delete }}"
                      >delete</mat-icon
                    >
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <!-- Data row -->
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
            </ng-container>
            <div
              class="text-right"
              style="margin-top: 15px"
              *ngIf="physicalStockEntryForm.controls['physicalStock'].valid"
            >
              <button mat-mini-fab color="primary" (click)="addStock()">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </mat-card>
      </div>
    </div>

    <div class="row m-t-10 m-b-40">
      <div class="col-xs-12" id="topBtn">
        <button
          type="button"
          mat-raised-button
          color="primary"
          class="pull-right m-r-5"
          [disabled]="physicalStockEntryForm.pristine"
          (click)="reset()"
        >
          {{ currentLanguageSet?.inventory?.clear }}
        </button>

        <button
          class="btn-green"
          type="button"
          mat-raised-button
          class="pull-right m-r-5"
          [disabled]="physicalStockEntryForm.invalid"
          (click)="savePhysicalStock()"
        >
          {{ currentLanguageSet?.common?.save }}
        </button>
      </div>
    </div>
  </form>
</div>
