/* You can add global styles to this file, and also import other style files */
@import "~bootstrap/dist/css/bootstrap.css";

@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,300;0,400;0,700;0,900;1,300;1,400;1,700;1,900&display=swap');
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');

@import 'css/custom.css';
@import 'css/layout.css';

.mat-select-placeholder {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
}

.mat-mdc-raised-button.mat-accent {
    --mdc-protected-button-container-color: #0277bd !important;
  }

  .mat-mdc-raised-button.mat-primary {
    --mdc-protected-button-container-color: #0277bd !important;
  }

.md-input-prefix md-icon, .md-input-suffix md-icon {
    vertical-align: text-bottom;
}

.odd {
    background-color: #f0f5f5;
    border-bottom: 1px solid #ddd;
}

.box {
    height: 70px;
}

.title {
    margin: 0px;
    padding: 0 15px;
    color: white;
    font-size: 18px;
    line-height: 32px;
    font-weight: 400;
}


.cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container {
    padding: 0px;
    overflow: auto;
}

@media only screen and (max-width: 768px) {
    .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane.fit-screen {
        width: 100% !important;
        height: 100% !important;
    }
    .cdk-overlay-container .cdk-global-overlay-wrapper .cdk-overlay-pane .mat-dialog-container {
        padding: 0px;
        max-width: unset;
    }
}

.btn-green {
    background: #43a047 !important;
}

.btn-green:disabled {
    background: grey !important;
    cursor: not-allowed;
}
.mat-mdc-raised-button:not(:disabled){
    background-color: #43a047 ;
}

.mat-mdc-raised-button.mat-unthemed {
    --mdc-protected-button-container-color: #43a047;
    --mdc-protected-button-label-text-color: white;
}

.mat-mdc-select-disabled{
    opacity: 0.5;
}

.mat-mdc-checkbox.mat-primary {
    --mdc-checkbox-disabled-selected-icon-color: rgba(0, 0, 0, .38);
    --mdc-checkbox-disabled-unselected-icon-color: rgba(0, 0, 0, .38);
    --mdc-checkbox-selected-checkmark-color: #fff;
    --mdc-checkbox-selected-focus-icon-color: #0277bd;
    --mdc-checkbox-selected-hover-icon-color: #0277bd;
    --mdc-checkbox-selected-icon-color: #0277bd;
    --mdc-checkbox-selected-pressed-icon-color: #0277bd;
    --mdc-checkbox-unselected-focus-icon-color: #212121;
    --mdc-checkbox-unselected-hover-icon-color: #212121;
    --mdc-checkbox-unselected-icon-color: rgba(0, 0, 0, .54);
    --mdc-checkbox-unselected-pressed-icon-color: rgba(0, 0, 0, .54);
    --mdc-checkbox-selected-focus-state-layer-color: #0277bd;
    --mdc-checkbox-selected-hover-state-layer-color: #0277bd;
    --mdc-checkbox-selected-pressed-state-layer-color: #0277bd;
    --mdc-checkbox-unselected-focus-state-layer-color: black;
    --mdc-checkbox-unselected-hover-state-layer-color: black;
    --mdc-checkbox-unselected-pressed-state-layer-color: black;
  }


.inline-block {
    display: inline-block;
}

.row.no-gutters {
    margin-right: 0;
    margin-left: 0;
}

.row.no-gutters>[class^="col-"], .row.no-gutters>[class*=" col-"] {
    padding-right: 0;
    padding-left: 0;
}

.userInfo.mat-menu-panel {
    margin-top: 10px;
}

@media only screen and (max-width: 768px) {
    .role-menu.mat-menu-panel {
        max-width: none;
        width: 100vw;
        margin-top: 10px;
    }
}

.mat-form-field.readonly .mat-form-field-underline {
    background-image: -webkit-gradient(linear, left top, right top, from(rgba(0, 0, 0, 0.42)), color-stop(33%, rgba(0, 0, 0, 0.42)), color-stop(0%, transparent));
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.42) 0%, rgba(0, 0, 0, 0.42) 33%, transparent 0%);
    background-size: 4px 1px;
    background-repeat: repeat-x;
    background-color: unset;
}

table thead tr th {
    white-space: nowrap;
}

.total-count {
    padding-top: 25px !important;
}

.mdc-text-field--filled:not(.mdc-text-field--disabled) {
    background-color: white !important ;
}


.mat_blue {
    background-color: #0277bd !important;
    border-color: unset !important;
    color: white;
    border: unset;
    border-radius: 3px;
    line-height: 36px;
    min-width: 88px;
  }
  .mat_blue:disabled {
    background-color: #e0e0e0 !important;
    border-color: unset !important;
    color: rgba(0, 0, 0, 0.38);
    border: unset;
    border-radius: 3px;
    line-height: 36px;
    min-width: 88px;
  }
  .mat_green {
    background-color: #43a047 !important;
    border-color: unset !important;
    color: white;
    border: unset;
    border-radius: 3px;
    line-height: 36px;
    min-width: 88px;
  }
  .mat_green:disabled {
    background-color: #e0e0e0 !important;
    border-color: unset !important;
    color: rgba(0, 0, 0, 0.38);
    border: unset;
    border-radius: 3px;
    line-height: 36px;
    min-width: 88px;
  }
  
  .mat_gray {
    background-color: #f0f0f0 !important;
    border-color: unset !important;
    color: black;
    border: unset;
    border-radius: 3px;
    line-height: 36px;
    min-width: 88px;
  }
  
  .mat_blue_circle {
    background-color: #0277bd;
    min-width: 0;
    border-radius: 50%;
    border-color: unset !important;
    color: white;
    border: unset;
    width: 40px;
    height: 40px;
    padding: 0;
    left: 20px;
    bottom: 50px;
    z-index: 3;
  }
  .mat_blue_circle:disabled {
    background-color: #e0e0e0;
    min-width: 0;
    border-radius: 50%;
    border-color: unset !important;
    color: rgba(0, 0, 0, 0.38);
    border: unset;
    width: 40px;
    height: 40px;
    padding: 0;
    left: 20px;
    bottom: 50px;
    z-index: 3;
  }
  .mat_gray_circle {
    background-color: rgba(0, 0, 0, 0.12);
    min-width: 0;
    border-radius: 50%;
    border-color: unset !important;
    color:#00000061;
    border: unset;
    width: 40px;
    height: 40px;
    padding: 0;
    left: 20px;
    bottom: 50px;
    z-index: 3;
  }
  .mat_warn_circle {
    background-color: #ff5252;
    min-width: 0;
    border-radius: 50%;
    border-color: unset !important;
    color:white ;
    border: unset;
    width: 40px;
    height: 40px;
    padding: 0;
    left: 20px;
    bottom: 50px;
    z-index: 3;
  }
  .mat_icon_blue{
    background-color: white;
    min-width: 0;
    border-radius: 50%;
    border-color: unset !important;
    color:#0277bd ;
    border: unset;
    width: 40px;
    height: 40px;
    padding: 0;
    left: 20px;
    bottom: 50px;
    z-index: 3;
  }
  .mat_icon_white{
    background-color: #0277bd;
    min-width: 0;
    border-radius: 50%;
    border-color: unset !important;
    color:white ;
    border: unset;
    width: 40px;
    height: 40px;
    padding: 0;
    left: 20px;
    bottom: 50px;
    z-index: 3;
  }
  mat-mdc-form-field-label-always-float {
    background-color: white !important;
  }
  
  .mdc-text-field--filled,
  .mdc-text-field--focused {
    background-color: white !important;
  }
  
  .mat-mdc-form-field-focus-overlay {
    background-color: white !important
  }
  
  .mat-mdc-form-field:hover .mat-mdc-form-field-focus-overlay {
    background-color: white !important
  }
  
  .mat-mdc-form-field.mat-focused .mat-mdc-form-field-focus-overlay {
    background-color: white !important
  }
  
  /* Table CSS */
  
  .mat-mdc-row:hover {
    color: #0277bd !important;
  }
  
  .mat-mdc-row:nth-child(2n) {
    background-color: #f9f9f9;
  }
  
  .table-responsive {
    /* margin: 15px; */
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  
  .table-responsive-report {
    overflow-y: hidden;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
  
  .mat-tab-group {
    font-family: Roboto, "Helvetica Neue", sans-serif;
  }
  
  .mat-mdc-header-row {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: inline-block !important;
    height: var(--mat-table-header-container-height, 56px);
    color: block !important;
    font-family: unset !important;
    line-height: var(--mat-table-header-headline-line-height);
    font-size: unset !important;
    font-weight: var(--mat-table-header-headline-weight, 500);
  }
  
  .mat-mdc-header-cell {
    border-bottom-color: var(--mat-table-row-item-outline-color, rgba(0, 0, 0, 0.12));
    border-bottom-width: var(--mat-table-row-item-outline-width, 1px);
    border-bottom-style: solid;
    font-weight: revert !important;
    line-height: inherit;
  }
  
  .mat-mdc-table {
    --mat-table-row-item-outline-width: 1px;
    table-layout: auto;
    white-space: unset !important;
    background-color: var(--mat-table-background-color);
  }
  
  .description {
    margin-bottom: -54.5px !important;
  }
  
  h5 {
    font-size: larger;
  }
  
  .mat-expansion-panel-body {
    padding: 0 24px 0px !important;
  }
  
  
  .mat-mdc-select-trigger {
    border-bottom-style: groove;
  }
  
  .mdc-line-ripple::before, .mdc-line-ripple::after {
   
    border-bottom-style:unset !important;
  }
  .mat-mdc-form-field:not(.mat-form-field-no-animations) .mdc-text-field__input {
    border-bottom-style: groove ;
  }
  
  .mat_form_field_background_color_table >>> .mdc-text-field--filled, .mdc-text-field--focused {
    /* background-color: #f9f9f9 !important; */
    background-color:unset !important;
}

