<div *ngIf="items">
  <h3 class="title info">
    {{ currentLanguageSet?.itemDispense?.batchSelection }}
  </h3>
  <div class="container-fluid">
    <div class="row m-t-20">
      <div class="col-md-3">
        <mat-form-field class="input-full-width">
          <mat-label>{{
            currentLanguageSet?.itemDispense?.prescribedQuantity
          }}</mat-label>
          <input
            autocomplete="off"
            type="text"
            name="prescribed"
            [readonly]="true"
            matInput
            [(ngModel)]="prescribed"
            placeholder="{{
              currentLanguageSet?.itemDispense?.prescribedQuantity
            }}"
          />
        </mat-form-field>
      </div>
      <div class="col-md-3" *ngIf="dispensed > 0">
        <mat-form-field class="input-full-width">
          <mat-label>{{
            currentLanguageSet?.itemDispense?.dispenseQuantity
          }}</mat-label>
          <input
            autocomplete="off"
            type="text"
            [readonly]="true"
            name="dispensed"
            matInput
            [(ngModel)]="dispensed"
            placeholder="{{
              currentLanguageSet?.itemDispense?.dispenseQuantity
            }}"
          />
        </mat-form-field>
      </div>
    </div>
  </div>
  <form [formGroup]="itemsForm">
    <div formArrayName="formArray" style="overflow-y: auto; max-height: 350px">
      <div class="container-fluid m-t-20">
        <div
          *ngFor="
            let batch of getRxBatch();
            let i = index;
            let lastIndex = last
          "
        >
          <ng-container [formGroupName]="i">
            <div
              class="row m-t-5 row-shade"
              style="margin-right: 10px; padding-left: 15px; margin-left: 10px"
              [ngClass]="{
                'alert-border':
                  batch.value.expiresIn && batch.value.expiresIn < alertDays
              }"
            >
              <div class="col-md-1 checkbox-fix">
                <mat-checkbox
                  color="primary"
                  (change)="checkboxChange($event, i)"
                  formControlName="selection"
                >
                </mat-checkbox>
              </div>
              <div
                class="col-md-2 right-padding-remove-desktop left-padding-remove-desktop"
              >
                <mat-form-field
                  class="input-full-width mat_form_field_background_color"
                >
                  <mat-label>{{
                    currentLanguageSet?.itemDispense?.batchNo
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    matInput
                    defaultNull
                    readonly="true"
                    name="batchNo"
                    formControlName="batchNo"
                    placeholder="{{
                      currentLanguageSet?.itemDispense?.batchNo
                    }}"
                  />
                </mat-form-field>
              </div>

              <div class="col-md-2">
                <mat-form-field
                  class="input-full-width mat_form_field_background_color"
                >
                  <mat-label>{{
                    currentLanguageSet?.itemDispense?.quantityinHand
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    matInput
                    defaultNull
                    readonly="true"
                    name="quantityInHand"
                    formControlName="quantityInHand"
                    placeholder="{{
                      currentLanguageSet?.itemDispense?.quantityinHand
                    }}"
                  />
                </mat-form-field>
              </div>
              <div class="col-md-3">
                <mat-form-field
                  class="input-full-width mat_form_field_background_color"
                  (click)="enableBatch(batch.value, i)"
                >
                  <mat-label>{{
                    currentLanguageSet?.itemDispense?.dispenseQuantity
                  }}</mat-label>
                  <input
                    autocomplete="off"
                    matInput
                    defaultNull
                    [required]="batch.value.selection"
                    [readonly]="editSelection === 1"
                    name="quantity"
                    formControlName="quantity"
                    (blur)="
                      setDispensed(itemsForm.controls['formArray'].value, i)
                    "
                  />
                </mat-form-field>
              </div>
              <div class="col-md-2">
                <mat-form-field
                  [style.width]="'100%'"
                  class="mat_form_field_background_color"
                >
                  <mat-label>{{
                    currentLanguageSet?.itemDispense?.expiryDate
                  }}</mat-label>
                  <input
                    matInput
                    readonly
                    placeholder="{{
                      currentLanguageSet?.itemDispense?.expiryDate
                    }}"
                    allowText="alphaspace"
                    formControlName="expiryDate"
                  />
                </mat-form-field>
              </div>
            </div>
          </ng-container>
        </div>
      </div>
    </div>
  </form>
  <div style="text-align: end; margin: 15px 10px 10px 0px">
    <button
      (click)="save()"
      mat-raised-button
      class="selectButton"
      style="color: white"
      type="button"
      *ngIf="editSelection === 0"
    >
      {{ currentLanguageSet?.common?.save }}
    </button>
    <button
      mat-dialog-close
      mat-raised-button
      class="selectButton"
      color="primary"
      style="color: white"
      type="button"
      *ngIf="editSelection === 1"
    >
      {{ currentLanguageSet?.common?.ok }}
    </button>
  </div>
</div>
