#head {
  background: #0277bd;
  color: white;
  height: 51px;
  width: 100%;
  padding: 20px;
}

#dialog_head {
  margin: 0;
  padding: 0;
}

#cross {
  cursor: pointer;
}

#dialog_row {
  padding: 15px;
}

.h5_bold {
  font-weight: bold;
  display: inline-block;
}

.m-b-15{
  margin-bottom: 15px;
}

.greenBttn {
  background: #43a047 !important;
  color: white;
}

.scrolling-content {
  max-height: 75vh;
  overflow: auto;
}
.mat_form_field_background_color_table >>>.mat-mdc-row:hover {
  color: unset !important;
}