<div class="title row">
  <div class="col-6">
    <h4>{{ title }}</h4>
  </div>
  <div class="col-6" style="text-align: end; margin-top: -10px">
    <button
      mat-icon-button
      matTooltip="{{ currentLanguageSet?.inventory?.close }}"
      [matDialogClose]="false"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>
</div>
<!-- {{batchForm.value | json}} -->
<div class="scrolling-content">
  <div class="container-fluid">
    <form [formGroup]="batchForm">
      <div class="row m-t-10">
        <div class="col-xs-6 col-sm-3">
          <mat-form-field class="input-full-width">
            <mat-label>
              {{ currentLanguageSet?.inventory?.requiredQuantity }}
            </mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="number"
              name="quantityRequired"
              formControlName="quantityRequired"
              [readonly]="true"
            />
          </mat-form-field>
        </div>
        <div class="col-xs-6 col-sm-3">
          <mat-form-field class="input-full-width">
            <mat-label>
              {{ currentLanguageSet?.inventory?.dispensedQuantity }}
            </mat-label>
            <input
              autocomplete="off"
              matInput
              allowText="number"
              name="quantityDispensed"
              formControlName="quantityDispensed"
              [readonly]="true"
            />
          </mat-form-field>
        </div>
      </div>
      <div class="row m-t-10">
        <div class="col-xs-12 col-sm-12">
          <div class="table-responsive mat_form_field_background_color_table">
            <!-- *ngIf="batchFormArray.length > 0" -->
            <!-- <table class="table table-striped responsive-table-form" aria-describedby="selectBatchDetails">
              <caption></caption> 
              <thead>
                <tr>
                  <th class="width5" id="sNo">{{currentLanguageSet?.inventory?.sNo}}</th>
                  <th class="width15" id="batchNo">{{currentLanguageSet?.inventory?.batchNo}}</th>
                  <th class="width15" id="qtyinBatch">{{currentLanguageSet?.inventory?.qtyinBatch}}</th>
                  <th class="width15" id="qtytoDispense">{{currentLanguageSet?.inventory?.qtytoDispensed}}</th>
                  <th class="width15" id="expiryDate">{{currentLanguageSet?.itemDispense?.expiryDate}}</th>
                  <th class="width10" id="action">{{currentLanguageSet?.bendetails?.action}}</th>
                </tr>
              </thead>
              <ng-container formArrayName="batchList">
                <ng-container
                  *ngFor="let batch of batchFormArray; let i=index; let isLast=last;">
                  <tr [formGroupName]="i">
                    <td class="vertical-align-middle"> {{ i+1 }} </td>
                    <td>
                      <mat-select placeholder="{{currentLanguageSet?.inventory?.batchNo}}" class="input-full-width"
                        formControlName="batchNo" name="batchNo" #myInput
                        (change)='getQuantityAndFilterItem(myInput.value, i,batch)' required>
                        <mat-option *ngFor="let batchItem of filteredBatchList[i]" [value]="batchItem">{{
                          batchItem.batchNo }}</mat-option>
                      </mat-select>
                    </td>
                    <td>
                      <mat-form-field class="input-full-width">
                        <input autocomplete="off" required placeholder="{{currentLanguageSet?.inventory?.qtyinBatch}}"
                          mdInput defaultNull allowText='number' name="quantityOnBatch"
                          formControlName="quantityOnBatch" [readonly]='true'>
                      </mat-form-field>
                    </td>
                    <td>
                      <mat-form-field class="input-full-width">
                        <input autocomplete="off" required
                          placeholder="{{currentLanguageSet?.inventory?.qtytoDispensed}}" matInput defaultNull
                          allowText='number' [attr.maxlength]="(''+batch.value.quantityOnBatch).length"
                          [disabled]="!batch.value.batchNo" name="quantityOfDispense"
                          formControlName="quantityOfDispense" (keyup)='calculateDispenseQuantity()'
                          (blur)='checkQuantity(batch)' required>
                      </mat-form-field>
                    </td>
                    <td>
                      <input matInput class="input-full-width" [matDatepicker]="picker" name='expiryDate'
                        id='expiryDate' placeholder="{{ currentLanguageSet?.itemDispense?.expiryDate }}"
                        formControlName='expiryDate' [disabled]="true" />
                      <mat-datepicker-toggle matPrefix [for]="picker"></mat-datepicker-toggle>
                      <mat-datepicker [style.width]="'100%'" #picker></mat-datepicker>
                    </td>
                    <td class="text-right">
                      <mat-icon class="icon-remove cursorPointer" matTooltip="{{currentLanguageSet?.inventory?.delete}}"
                        (click)="removeBatch(i, batch)">delete</mat-icon>
                    </td>
                  </tr>
                </ng-container> 
                <tr *ngIf="masterItemBatchList.length == 0">
                  <td colspan="6" style="text-align: center; font-size: 16px">
                    <strong>{{currentLanguageSet?.inventory?.noBatchesAvailable}}</strong>
                  </td>
                </tr>
                <tr *ngIf="batchForm.controls['batchList'].valid && masterItemBatchList.length != 0">
                  <td colspan="6">
                    <button class="pull-right" mat-mini-fab color="primary" id='addBatch' (click)="addBatch(true)">
                      <mat-icon class="mat-18 cursorPointer">add</mat-icon>
                    </button>
                  </td>
                </tr>
              </ng-container>
            </table> -->

            <ng-container formArrayName="batchList">
              <table mat-table [dataSource]="dataSource">
                <!-- batchFormArray -->
                <ng-container matColumnDef="SNo">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.inventory?.sNo }}
                  </th>

                  <td
                    mat-cell
                    *matCellDef="let element; let i = index"
                    [formGroup]="element"
                  >
                    {{ i + 1 }}
                  </td>
                </ng-container>

                <ng-container matColumnDef="batchNo">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="padding-left: 35px"
                  >
                    {{ currentLanguageSet?.inventory?.batchNo }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element; let i = index"
                    [formGroup]="element"
                  >
                    <mat-form-field>
                      <mat-label>
                        {{ currentLanguageSet?.inventory?.batchNo }}
                      </mat-label>
                      <mat-select
                        class="input-full-width"
                        formControlName="batchNo"
                        name="batchNo"
                        #myInput
                        (selectionChange)="
                          getQuantityAndFilterItem(myInput.value, i, element)
                        "
                        required
                      >
                        <mat-option
                          *ngFor="let batchItem of filteredBatchList[i]"
                          [value]="batchItem"
                          >{{ batchItem.batchNo }}</mat-option
                        >
                      </mat-select>
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="qtyinBatch">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="padding-left: 35px"
                  >
                    {{ currentLanguageSet?.inventory?.qtyinBatch }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element; let i = index"
                    [formGroup]="element"
                  >
                    <mat-form-field class="input-full-width">
                      <mat-label>
                        {{ currentLanguageSet?.inventory?.qtyinBatch }}
                      </mat-label>
                      <input
                        autocomplete="off"
                        required
                        matInput
                        defaultNull
                        allowText="number"
                        name="quantityOnBatch"
                        formControlName="quantityOnBatch"
                        [readonly]="true"
                      />
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="qtytoDispensed">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="padding-left: 35px"
                  >
                    {{ currentLanguageSet?.inventory?.qtytoDispensed }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element; let i = index"
                    [formGroup]="element"
                  >
                    <mat-form-field class="input-full-width">
                      <mat-label>
                        {{ currentLanguageSet?.inventory?.qtytoDispensed }}
                      </mat-label>
                      <input
                        autocomplete="off"
                        required
                        matInput
                        defaultNull
                        allowText="number"
                        [attr.maxlength]="
                          ('' + element.value.quantityOnBatch).length
                        "
                        [disabled]="!element.value.batchNo"
                        name="quantityOfDispense"
                        formControlName="quantityOfDispense"
                        (keyup)="calculateDispenseQuantity()"
                        (blur)="checkQuantity(element)"
                        required
                      />
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="expiryDate">
                  <th
                    mat-header-cell
                    *matHeaderCellDef
                    style="padding-left: 40px"
                  >
                    {{ currentLanguageSet?.itemDispense?.expiryDate }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element; let i = index"
                    [formGroup]="element"
                  >
                    <mat-form-field>
                      <mat-label>
                        {{ currentLanguageSet?.itemDispense?.expiryDate }}
                      </mat-label>
                      <input
                        matInput
                        class="input-full-width"
                        [matDatepicker]="picker"
                        name="expiryDate"
                        id="expiryDate"
                        formControlName="expiryDate"
                        [readonly]="true"
                      />
                      <mat-datepicker-toggle
                        matPrefix
                        [for]="picker"
                      ></mat-datepicker-toggle>
                      <mat-datepicker
                        [disabled]="true"
                        [style.width]="'100%'"
                        #picker
                      ></mat-datepicker>
                    </mat-form-field>
                  </td>
                </ng-container>

                <ng-container matColumnDef="action">
                  <th mat-header-cell *matHeaderCellDef>
                    {{ currentLanguageSet?.bendetails?.action }}
                  </th>
                  <td
                    mat-cell
                    *matCellDef="let element; let i = index"
                    [formGroup]="element"
                  >
                    <mat-icon
                      class="icon-remove cursorPointer"
                      matTooltip="{{ currentLanguageSet?.inventory?.delete }}"
                      (click)="removeBatch(i, element)"
                      >delete</mat-icon
                    >
                  </td>
                </ng-container>

                <ng-container *ngIf="masterItemBatchList.length === 0">
                  <td mat-cell>
                    <strong>{{
                      currentLanguageSet?.inventory?.noBatchesAvailable
                    }}</strong>
                  </td>
                </ng-container>
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr
                  mat-row
                  *matRowDef="let row; columns: displayedColumns"
                ></tr>
              </table>
              <div
                *ngIf="dataSource.data.length === 0"
                style="text-align: center; margin: 20px 0px 20px 0px"
              >
                No Record found
              </div>
            </ng-container>
            <!-- <ng-container
                  *ngIf="
                    batchForm.controls['batchList'].valid 
                    &&  masterItemBatchList.length !== 0
                 "
                >
                  <td mat-cell>
                    <button
                      class="pull-right"
                      mat-mini-fab
                      color="primary"
                      id="addBatch"
                      (click)="addBatch(true)"
                    >
                      <mat-icon class="mat-18 cursorPointer">add</mat-icon>
                    </button>
                  </td>
                </ng-container> -->
            <div
              class="text-right"
              *ngIf="
                batchForm.controls['batchList'].valid &&
                dataSource.data.length !== 0
              "
            >
              <button mat-mini-fab color="primary" (click)="addBatch(true)">
                <mat-icon>add</mat-icon>
              </button>
            </div>
          </div>
        </div>
      </div>

      <div class="row m-t-10 m-b-10" style="text-align: end; margin-top: 10px">
        <div class="col-xs-12 actionButton">
          <button
            mat-raised-button
            color="primary"
            type="button"
            *ngIf="masterItemBatchList.length !== 0"
            [disabled]="!batchForm.valid"
            (click)="saveAndUpdateItem()"
          >
            {{ buttonSaveAndUpdate }}
          </button>
          <button
            mat-raised-button
            color="primary"
            type="button"
            *ngIf="masterItemBatchList.length === 0"
            matDialogClose="false"
          >
            {{ currentLanguageSet?.common?.ok }}
          </button>
        </div>
      </div>
    </form>
  </div>
</div>
